body
	min-height: 200vh
#logo
	padding-left: 10px
	font-size: 1.6955em
.parallax-container
	min-width: 100%
.thin-text
	font-weight: 300
	background: rgba(29, 233, 182, 0.7)
	padding: 40px
	border-radius: 5px